.jpdb-word ruby, .jpdb-word rt {
    color: inherit !important;
    font-size: inherit;
}

.jpdb-word rt {
    user-select: none;
    pointer-events: none;

    font-size: 60%;
}

.jpdb-word:not(.unparsed):hover {
    text-decoration: underline;
}

.jpdb-word.misparsed {
    color: rgb(255, 0, 0);
    background-color: lightgray;
}

.jpdb-word.locked {
    color: #a0522d;
}

.jpdb-word.suspended {
    color: #696969;
}

.jpdb-word.blacklisted {
    color: #b0b0b0;
}

.jpdb-word.never-forget {
    color: #9370db;
}

.jpdb-word.not-in-deck {
    color: inherit;
}

.jpdb-word.new {
    color: #ff4500;
}

.jpdb-word.learning {
    color: #4169e1;
}

.jpdb-word.known {
    color: #228b22;
}

.jpdb-word.due {
    color: #ffd700;
}

.jpdb-word.failed {
    color: #dc143c;
}
