@use 'sass:map';
@use '@styles/variables/_colors';

@use '@styles/theme/_common';
@use '@styles/theme/_forms';
@use '@styles/theme/_outline';

h6 {
  margin-top: 1em;
  font-size: 135%;
  font-weight: bold;
  text-align: center;
}

#save-all-settings-box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  padding-top: 1.2em;
  border-top: 0;
  box-shadow: 0 0 10px 2px #1f2429;
  -webkit-box-shadow: 0 0 10px 2px #1f2429;
  background-color: map.get(colors.$colors, background-color);

  > input {
    margin-bottom: 1.2em;
  }
}

.distance-after {
  padding-bottom: 1.5em;
}

.distance-before {
  padding-top: 1.5em;
}

input.v1 {
  border: 1px solid map.get(colors.$outlines, v1);
}

select {
  margin-bottom: 0;
  font-family: monospace;
}

.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-out 0.3s;

  &.is-open {
    max-height: 100px;
  }

  &.rem-height {
    max-height: unset;
  }

  [skip-animation] & {
    transition: none;
  }
}

#requires-anki {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-out 0.3s;

  &.is-open {
    max-height: 1000px;
  }

  &.rem-height {
    max-height: unset;
  }
}

// Text Colors Section
.text-colors-header {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

.color-item {
  display: flex;
  align-items: center;
  gap: 1rem;

  label {
    margin: 0;
  }
}

.color-picker {
  height: 2rem;
  width: 3rem;
  border-radius: 0.25rem;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: 1px solid map.get(colors.$outlines, v1);
    border-radius: 0.25rem;
  }
}

.sample-text {
  margin-left: 0.5rem;
  font-weight: bold;

  // Defaults (will be overriden when the respective color-picker is modified)
  &.jpdb-word { color: map.get(colors.$colors, text-color); }
  &.unparsed { color: map.get(colors.$colors, text-color); }
  &.not-in-deck { color: map.get(colors.$states, not-in-deck); }
  &.locked { color: map.get(colors.$states, locked); }
  &.redundant { color: map.get(colors.$colors, link-underline-color); }
  &.new { color: map.get(colors.$states, new); }
  &.learning { color: map.get(colors.$states, learning); }
  &.known { color: map.get(colors.$states, known); }
  &.never-forget { color: map.get(colors.$states, never-forget); }
  &.due { color: map.get(colors.$states, due); }
  &.failed { color: map.get(colors.$states, failed); }
  &.suspended { color: map.get(colors.$states, suspended); }
  &.blacklisted { color: map.get(colors.$states, blacklisted); }
  &.misparsed { color: red; }
}

// special for working on stuff
.not-implemented {
  display: none !important;
}
